# system
.DS_Store

# jupyter
.ipynb_checkpoints

# artifacts
/notebooks/assets/
/notebooks/logs/train/
/notebooks/logs/validation/
/notebooks/**/data
/notebooks/**/tmp*
/langchain/**/data

# model artifacts
*.hdf5
*.keras

# node
node_modules

# python
__pycache__
*.pickle
.pdm-python
.env
